@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body, html {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    min-height: 2000px;
}

.main {
    display: flex;
    margin-top: 4vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.top {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;

}

.menu {
    display: flex;
    position: relative;
    align-items: center;
    margin-right: 4.5vw;
}

.logos img {
    margin: 5px;
}

.menu div {
    margin: 0.5vw;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    min-width: 68px;
    min-height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    display: flex;
}

.menu div:hover {
    background-color: #00A8FF;
    color: white;
}

#reserve {
    background-color: #FF0096;
    color: white;
    min-width: 134px;
    min-height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    display: flex;
}

#reserve:hover {
    background-color: #FF80CA;
}

.logos {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 4.5vw;
}


.carrossel {

    overflow: hidden;
    max-width: 90vw;
    height: auto;

}

.container {
    margin: 0;
    padding: 0;
    border-radius: 24px;
    max-width: 90vw;
    height: auto;
    position: relative;
    transition: 0.5s ease-in-out;
    transform: translateX(0);
    display: flex;
}

.container img {
    border-radius: 8px;
    max-width: 90vw;
    height: auto;
    border-radius: 24px;
    object-fit: cover;
}

.circulos {
    position: relative;
    display: block;
    z-index: 2;
    top: 100px;
    margin-left: 8vw;

}

.circulos img {
    margin: 5px;
    border-radius: 50%;

}

.tranformTitle {
    display: flex;
    position: fixed;
    z-index: 1;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 50vw;
    margin-top: 25vw;
    color: white;
    margin-left: 4vw;

}


.tranformTitle h1 {
    font-size: 4vw;
}

.ConhecaPacotes {
    background-color: #FED400;
    color: #57330F;
    border-radius: 16px;
    font-size: 16px;
    min-height: 68px;
    min-width: 230px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.saibaMais {
    display: flex;
    position: sticky;
    z-index: 2;
    margin-left: 75vw;
    margin-top: -6vw;
    color: white;
    max-width: 80px;
    flex-direction: row;
    flex-wrap: wrap;


}

.sobre {
    margin-top: 4vh;
    display: flex;
    flex-wrap: wrap;
    max-width: 90vw;
    height: auto;
    width: 100%;

}
.missao img {
    position: relative;
    top: 0px;
}


.missao {
    display: flex;
    max-width: 40vw;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 24px;
    font-weight: 300;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-left: 5vw;
}

.title {
    width: 100%;
    box-sizing: content-box;
    margin-bottom: 0px;
    text-align: justify;
    height: 50px;
    display: flex;
}

#retanguloSobre {
    width: 90px;
    height: 8px;
}

.missaoImg {
    display: flex;
    max-width: 40vw;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 24px;
    font-weight: 300;
    color: black;
    margin-left: 5vw;
}

.missaoImg img {
    min-width: 500px;
    height: auto;
    margin-left: 2vw;
    border-radius: 16px;

}


@media only screen and (max-width: 900px) {
    .menu {
        display: none;
    }
    .missao{
        min-width: 80vw;
    }
    .missaoImg{
        min-width: 80vw;
        margin-top: 5vw;
    }
    .missaoImg img {
        min-width: 60vw;
        height: auto;
    }

}